/*values for reference*/
body {
  --color-primary: #1f4b8e;
  --color-primary-dark: #0f1225;
  --color-primary-light: #adbccd;
  --color-secondary: #f1ece6;
  --color-secondary-dark: #eadbd4;
  --color-error: #cc3333;
  --color-valid: #4bb544;
  --border-radius: 4px;
}

body #login {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-items: center;
  font-size: 18px;
  background-color: var(--color-secondary);
}

/*Form design*/

.mainContainer {
  background-image: url();
}
/*
.form {
}

#logIn {
}

.form-title {
}

.form-input {
}

.form-messageError {
}

.form-inputErrorMessage {
}

.form-link {
}

.linkResetPassword {
}

.form-button {
}
*/
