html, body {
    background-image: url(https://previews.123rf.com/images/yommy8008/yommy80081701/yommy8008170100035/70752023-foto-verticale-con-paesaggio-di-scena-invernale-il-sentiero-che-%C3%A8-coperto-da-neve-bianca-attraversa-.jpg);
}

#submit-btn {
    background-color: #0f1225;
    color: white;
}

.card {
    border: solid 1px #0f1225;
    border-radius: 15px;
}